# general
*~
*.log
*.jar
*.class
.settings
tmp
dump


# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin
.worksheet
*.sc

# Scala-IDE specific
.scala_dependencies
.project
.classpath
.cache
.DS_Store
 
# SBT
dist
project/boot
project/target
project/plugins/target
target
.target
lib_managed/
src_managed/

# Play
logs
RUNNING_PID

# Git specific
*.orig

# IntelliJ IDEA specific
.idea/
*.ipr
*.iws
*.iml
out/
.idea_modules/

# Activator specific
activator-sbt-atmos-play-shim.sbt
project/activator-sbt-atmos-play-shim.sbt
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt

activator-sbt-echo-play-shim.sbt
