
logs
tmp

*.jar
*~
*.class
*.log


bin/

project/project
project/target

.target
.history

dist

/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# Latex specific
*.bbl
*.blg
*.aux
*.log
*.out

# Sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.project
.classpath
.cache
.DS_Store

# Git specific
*.orig

# EARL FILES
public/earls/*.ttl
