@(rs: es.weso.wfLodPortal.models.ResultQuery)(implicit request: RequestHeader, options: es.weso.wfLodPortal.models.Options)

@import views.helpers.Utils._
@import views.helpers.wf.Utils._
@import views.html.helpers._
@import views.html.helpers.utils._

@code = @{ 
	val code = request.path.lastIndexOf("/");
	request.path.substring(code + 1)
}

@compareUri = @{
	"/" + options.mode + "/compare?selectedIndicators=" + code
}

@main(Some(("COMPARE THIS", compareUri)), options.mode) {
	<nav class="breadcrumbs">
		@hostLink(request) &gt; @data(options) &gt; @label(rs)
	</nav>	
	<h1>@cachedLabel(rs)</h1>
	<h2><a href="@rdfType(rs)">Indicator</a></h2>	
	@grill(rs)
	@sparqlQuery(options)
}