@(implicit request: RequestHeader, options: es.weso.wesby.models.Options)

@import views.helpers.Utils._
@import views.html.helpers._
@import views.html.helpers.utils._

@main(None) {

<div id="mustacheRendered"></div>
@sparqlQuery(options)
}

<script type="text/javascript">
    $(function() {
        var template; // Mustache template
        var data = {
            "cachedLabel": 'cachedLabel',
            "rdfType": 'rdfType',
            "rdfTypeLabel": 'rdfTypeLabel'
        } // Mustache server data
        var mustacheURL = '@Options.host_r@routes.Assets.at("mustache/")';
        var templatesMapURL = '@Options.host_r@routes.Assets.at("mustache/templates.json")';

        var renderPage = function() {
            // Get template names map
            $.getJSON(templatesMapURL, function(templatesMap) {
                var templateName = templatesMap[data.rdfType];
                // Load template
                $.get(mustacheURL + templateName + '.mustache', function(t) {
                    template = t;
                });
            });

            // Get server data
            // $.getJSON("data.json", function(d) {
            //   $.extend(data, d);
            // })

        }()

        // Waits for AJAX calls to complete, then renders the page
        $(document).ajaxStop(function(){
            var renderedPage = Mustache.render(template, data);
            $('#mustacheRendered').html(renderedPage);
        })
    })
</script>