@(implicit request: RequestHeader, options: es.weso.wesby.models.Options, uri: String)

@import views.helpers.Utils._
@import views.html.helpers._
@import views.html.helpers.utils._

@main(None) {
  <div id="mustacheRendered"></div>
  @sparqlQuery(options)
}

<script type="text/javascript">
  $(function() {
    var template; // Mustache template
    var data = {}; // Mustache server data
    var mustacheURL = "@conf.getString("templates.uri")";
    var templatesMapURL = "@conf.getString("templates.uri")" + "template-mapping.json";
    var uri = "@uri";
    var r = jsRoutes.controllers.Application.templateJsonData(uri);

    var renderPage = function() {
      // Get server data
      $.getJSON(r.url, function (d) {
        $.extend(data, d);

        /**
         * Get template names in a map
         */
        $.getJSON(templatesMapURL, function(templatesMap) {
          var templateName = templatesMap[data.rdfType];
          // Load template
          $.get(mustacheURL + templateName + '.mustache', function(t) {
            template = t;
          });
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
          console.log(textStatus);
          console.log(errorThrown);
          alert(errorThrown);
        });
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
        alert(errorThrown);
      });
    }();

    /**
     * Wait for AJAX calls to complete, then render the page.
     */
    $(document).ajaxStop(function(){
      var renderedPage = Mustache.render(template, data);
      $('#mustacheRendered').html(renderedPage);
    });
  });
</script>