@(rs: es.weso.wfLodPortal.models.ResultQuery)(implicit request:RequestHeader, options:es.weso.wfLodPortal.models.Options)

@import es.weso.wfLodPortal.sparql.Handlers._
@import es.weso.wfLodPortal.utils.CommonURIS._
@import es.weso.wfLodPortal.models._
@import views.helpers.Utils._
@import views.helpers.wf.Utils._
@import views.html.helpers._
@import views.html.helpers.utils._
@import scala.collection.mutable.ListBuffer
@import es.weso.wfLodPortal.sparql.custom.ObservationCustomQuery.Observation

@image = @{ 
	val code = handleResourceAsString(rs.subject.get, 
		wfOnto, "ref-area", 
		{r:RdfResource => iso2(r.dataStores)})
	
	val img = code.toLowerCase + ".png" 
			
	routes.Assets.at("images/flags/" + img)
}

@countryName = @{
	handleResourceAsString(rs.subject.get, 
		wfOnto, "ref-area", 
		(r:RdfResource)=> cachedLabel(r))
}

@countryURI = @{
	handleResourceAsString(rs.subject.get, 
		wfOnto, "ref-area", 
		(r:RdfResource)=>r.uri.relative.toString)
}

@indicatorURI = @{
	handleResourceAsString(rs.subject.get, 
		cex, "indicator", 
		(r:RdfResource)=> {println(r)
		null})
	handleResourceAsString(rs.subject.get, 
		cex, "indicator", 
		(r:RdfResource)=>r.uri.relative.toString)
}

@indicatorName = @{
	val str = handleResourceAsString(rs.subject.get, 
		cex, "indicator", 
		(r:RdfResource)=>r.uri.short.get.suffix._2.replace("_", " "))
	
	if (str.length > 8) {
		str.substring(0, 8).trim() + "..."
	}
	else str
}

@indicatorDescription = @{
	handleResourceAsString(rs.subject.get, 
		cex, "indicator", 
		(r:RdfResource)=> cachedLabel(r))
}

@value = @{
	handleLiteralAs[BigDecimal](rs.subject.get,		
		cex, "value", 
		(l:RdfLiteral)=>BigDecimal(l.value).setScale(2, BigDecimal.RoundingMode.HALF_UP))
}

@year = @{
	handleLiteralAsValue(rs.subject.get, wfOnto, "ref-year")
}

@main(None, options.mode) {
	<script src="@routes.Assets.at("javascripts/jGraf.min.js")"></script>
	<nav class="breadcrumbs">
		@hostLink(request) &gt; @data(options) &gt; <a href="/ontology/Country">Country</a> &gt; 
		<a href="@countryURI">@showLabel(countryURI, countryName)</a> &gt; @label(rs)
	</nav>
	
	<a href="@countryURI"><img alt="Country flag for @countryName obtained from flagpedia.net" class="flag" src="@image" /></a>
	<div class="year"><span>@year</span></div>
	<a href="@indicatorURI" class="indicator"><span>@indicatorName</span></a>
	@if(! value.isEmpty) {
		<div class="value"><p class="value">@value</p><p class="desc">VALUE</p></div>
	}

	<h1 class="observation">@label(rs)</h1>
	<h2><a href="@rdfType(rs)">Observation</a></h2>	
	<h3 class="description">@showLabel("", indicatorDescription)</h3>
	<div id="graph"></div>
	@grill(rs)
	@sparqlQuery(options)
	<script>
		var graphOptions = {
			width: 400,
			height: 400,
			margins: [10, 0, 10, 0],
			backgroundColour: "none",
			serieColours: ["#CC2222"],
			groupMargin: 0,
			barMargin: 8,
			valueOnItem: {
				show: true,
				margin: 5,
				"font-family": "Helvetica",
				"font-colour": "#aaa",
				"font-size": "16px"
			},
			xAxis: {
				title: "Years",
				colour: "none",
				margin: 10,
				tickColour: "none",
				values: [],
				"font-family": "Helvetica",
				"font-colour": "#666",
				"font-size": "16px"
			},
			yAxis: {
				title: "",
				colour: "none",
				margin: 0,
				tickColour: "#ddd",
				"font-family": "Helvetica",
				"font-colour": "#aaa",
				"font-size": "16px",
				"from-zero": false
			},
			series: [ ],
			legend: {
				show: false,
			}
		};
		if (window.attachEvent)
			window.attachEvent('resize', loadObservations);
		else
			window.addEventListener('resize', loadObservations, false);
	
		loadObservations();
		
		function loadObservations() {
			var values = [];
			var urls = [];
			var years = [];
		
			@for(observation <-loadObservations(options.uri, options.mode)) {
				values.push(@observation.value);
				urls.push("@observation.uri");
				years.push("@observation.year");
			}
			
			var series = [
				{
					name: "",
					values: values,
					urls: urls
				}
			];
			
			var graphDiv = document.getElementById("graph");
			graphDiv.innerHTML = "";
			
			graphOptions.width = graphDiv.offsetWidth;
			graphOptions.series = series;
			graphOptions.xAxis.values = years;
			
			if (values.length > 0) {
				var graph = jGraf.lineChart(graphOptions);
				graphDiv.appendChild(graph.render());
			}
		}
	</script>
}