<div class="callout large">
    <h1>Lista de palabras</h1>
    <table>
        {{#contains}}
            <tr>
                <td>{{a this textProp="label"}}</td>
            </tr>
        {{/contains}}
    </table>
    <a href="" class="button">Cargar más</a>
</div>

