<div class="column row">
    <h1>Ficha de p치rrafo</h1>
    <dl>
        <dt>Obra</dt><dd>{{a hasBook textProp="label"}}</dd>
        <dt>Texto del p치rrafo</dt><dd>{{paragraphText}}</dd>
    </dl>
    <a href="{{prevParagraph}}">P치rrafo anterior</a> | <a href="{{nextParagraph}}">P치rrafo siguiente</a>
</div>