<div class="callout large">
    <h1>Ficha de párrafo</h1>
    <dl>
        <dt>Obra</dt><dd>{{a hasBook textProp="label"}}</dd>
        <dt>Texto del párrafo</dt><dd>{{paragraphText}}</dd>
    </dl>
</div>