<div class="column row">
  <div class="callout large">
    <h1>Ficha de texto</h1>
    <ul>
      <li>Título: </li>
      <li>Autor: </li>
      <li>Fecha: </li>
      <li>Tema: </li>
      <li>Medios: </li>
      <li>Edición: </li>
      <li>Publicación: </li>
    </ul>
  </div>
</div>
<!--div class="column row">
    <h2>Contenidos</h2>
    {{!--#[@reverse]}}
        {{#hasBook}}
            {{p this.[@id]}}
        {{/hasBook}}
    {{/[@reverse]--}}
</div-->

