.concordance-table {
    table-layout: fixed;
}

.concordance-table tr {
    cursor: hand;
}

.concordance-table .concordance-right {
    overflow: hidden;
    white-space: nowrap;
}

.concordance-left {
    direction: rtl;
    overflow: hidden;
    white-space: nowrap;
}

.concordance-table .concordance-word {
    white-space: nowrap;
}

/* From http://stackoverflow.com/a/28074607/2563749 */
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 20px;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;
    }
}
/* --- */

/* Estilo web SEAR */

body {
    background: #f4f4f4;
}

body, table {
    color:#666666
    font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight:400;
    font-size:12px;
    line-height:21px;
}

a{
    outline: none;
    color:#5d5d5d;
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -o-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}
a:hover{
    color:#ed7811;
}

a img{
    border: none;
}

a.button {
    color: #ffffff;;
}

h1 {
    color:#5d5d5d;
    font-weight:300;
    font-size: 22px;
    line-height: 32px;
}

h2 {
    font-size: 18px;
    line-height: 27px;
}

h3 {
    color:#5d5d5d;
    font-size: 16px;
    line-height: 20px;
}

h4 {
    color:#5d5d5d;
    font-size: 14px;
    line-height: 18px;
}

h5 {
    color:#5d5d5d;
    font-size: 12px;
    line-height: 18px;
}

h6 {

    font-size: 10px;
    line-height: 16px;
}

button, .button {
    background-color: #4c4c4c;
}

.button:hover {
    background-color: #b83535;
}

.wrap {
    background: white;
}

.wrap, .top-bar, .footer {
    width: 920px;
    margin: 0 auto 40px auto;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.callout {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.footer {
    background: #4c4c4c;
    padding: 10px 30px;
    color: #999999;
    font-size: 11px;
    position: relative;
}

.footer a {
    /*text-decoration: none;*/
    color: #b5b5b5;
}
