table.pages tFoot {
	text-align: center;
	font-size: 0.7em;
}

table.pages tFoot a {
	margin-left: 1em;
	display: inline-block;
	width: 2em;
	height: 1.6em;
	padding-top: 0.4em;
	border-radius: 1em;
	background-color: #888;
	color: #fff;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

table.pages tFoot a.selected {
	background-color: #000;
}

table.pages tFoot a.not-number {
	background-color: #fff;
	border: none;
	color: #333;
	width: auto;
	height: auto;
	font-style: italic;
}

table.pages tFoot a.disabled {
	color: #aaa;
	pointer-events: none;
}