header#banner {
	margin: 0em;
	background: #7AB800;
	overflow: auto;
	height: 118px;
}

header h1 {
	margin-bottom: 0px;
}

header h1#title {
	background-color: #7AB800;
}

header h1#title img {
	margin: 0.4em;
	height: 100px;
	width: 100px
}

header h1#title a {
	background-color: #7AB800;
}

header a {
	background: #7AB800;
}

header a:link {
	color: white;
}

header a:visited {
	color: white;
}

span.computex {
	font-family: 'Advent Pro', sans-serif;
	font-size: 2.3em;
}

span.validation {
	font-family: 'Advent Pro', sans-serif;
	color: #333;
	font-size: 2.3em;
	font-weight: 100;
}

#weso-link {
	float: right;
	width: 80px;
	height: 80px;
	margin: 18px 20px 0px 0px;
	background-color: #fff;
	border-radius: 40px;
	text-align: center;
	text-decoration: none;
	padding-top: 30px;
	color: #7AB800
}

.circle-link {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
}

.circle-link {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
}

.circle {
	padding-top: 23px;
}

#uri {
	padding-top: 30px;
}

#central-circle {
	margin-left: 20px;
	margin-right: 20px;
}

#about-weso {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;
}

ul#tabset_tabs li {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	font-size: 1.2em;
}

ul#tabset_tabs li a:link,ul#tabset_tabs li a:visited {
	border-radius: 0 5px 0 0;
}

ul#tabset_tabs.pills li {
	border-radius: 5px;
}

ul#tabset_tabs.pills li a:link,ul#tabset_tabs.pills li a:visited {
	border-radius: 5px;
}

header a#weso-logo {
	float: left;
	margin: 3px 30px 0px 20px;
}

header p#tagline {
	margin: 5px 0 0 122px;
	font-family: 'Advent Pro', sans-serif;
	font-size: 0.8em;
	width: 600px;
}

div#main {
	min-height: 100%;
}

footer {
	padding-top: 20px;
	height: 130px;
	font-size: 0.8em;
}

footer p {
	font-size: 1.15em;
	text-align: center;
	color: #555;
	background-color: white;
}

table {
	width: 100%;
	border-radius: 5px;
}

table th {
	text-align: left;
	font-size: 0.875em !important;
}

table td ul li {
	margin-bottom: 6px;
	list-style: square;
	list-style-position:inside;
}

.small {
	font-size: 60%;
}