#header {
	margin: 0;
	padding: 0.8em;
}

#footer {
	font-size: 60%;
	margin: 0 1.8em 1em 0;
	text-align: center;
}

.subtitle {
	text-align: center;
	margin-top: 0;
}

h2 {
	font-weight: normal;
	font-size: 120%;
	margin: 1em 0 0 0;
	padding: 0 0 0.2em 0;
	color: #888;
}

form {
	margin: 0;
}

textarea {
	width: 100%;
}

#prefixestext {
	color: #2a5384;
	margin: 0;
	margin-bottom: 1em;
	font-size: 1.1em;
	word-break: break-all;
	width: 100%;
	overflow: scroll;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 0 0 0 1em;
	padding: 0;
}

img {
	border: none;
}

.section {

}

.busy {
	color: #888;
}

.link {
	background: url(link.png) center right no-repeat;
	padding-right: 13px;
}

.queryresults {
	border-collapse: collapse;
	margin-top: 0.3em;
	width: 100%;
}

.queryresults td,.queryresults th {
	padding: 0.2em 0.4em;
	vertical-align: top;
}

.uri {
	font-size: 0.9em;
}

.uri a,a.uri {
	text-decoration: none;
}

.unbound {
	color: #888;
}

.queryresults a small {
	font-size: 100%;
	color: #55a;
}

.queryresults small {
	font-size: 100%;
	color: #666;
}

.queryresults .property {
	white-space: nowrap;
}

#rdficon {
	margin: 0.6em 1em;
}

.directory li {
	margin-bottom: 0.5em;
}

.directory small {
	font-size: 80%;
	color: #666;
}

.snorql .queryresults th {
	background: #000;
	color: #fff;
}

.snorql .queryresults .odd td {
	background: #fff;
}

.snorql .queryresults .even td {
	background: #ccc;
}

.browser h1,.browser h2 {
	color: #810;
}

.browser #header,.browser .section {
	background: #beb;
}

.browser .queryresults th {
	background: #7b7;
}

.browser .queryresults .odd td {
	background: #f0fcf0;
}

.browser .queryresults .even td {
	background: #d4f6d4;
}

div.section li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 33%;
	float: left;
	text-align: center;
}

div.section ul {
	padding: 0;
	margin: 0;
	overflow: auto;
	margin-bottom: 2em;
}

input[type=button] {
	font-size: 1.1em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	font-weight: 100;
	letter-spacing: 0.2em;
	font-family: "Century Gothic", Arial;
	border: none;
	padding: 0.8em 0;
	width: 49%;
	margin-left: 1%;
	float: right;
}

@media all and (min-width: 37em) {
	input[type=button] {
		width: 10em;
		margin-left: 1em;
	}
}

input[type=button]:hover {
	background-color: #333;
}

input[type=button].b-clear {
	background-color: #444;
	margin-left: 0;
	margin-right: 1%;
	float: left;
}

@media all and (min-width: 37em) {
	input[type=button].b-clear {
		background-color: #444;
		margin-left: 1em;
		margin-right: 0;
		float: right;
	}
}

input[type=button].b-clear:hover {
	background-color: #666;
}

.CodeMirror {
	margin-bottom: 1em;
}

label {
	margin-bottom: 0.4em;
}

div.dropdown {
	clear:both;
	width: 98%;
	height: 1.6em;
	overflow: hidden;
	background: url('../images/arrow.png') no-repeat 97% 50% #fff;
	border-left: 0.5% solid #eee;
	border-right: 0.5% solid #eee;
	border-bottom: 0.5% solid #ccc;
	border-top: 0.5% solid #eee;
	margin-left: 0;
}

@media all and (min-width: 37em) {
	div.dropdown {
		width: 15em;
	}
}

div.dropdown select {
	background: transparent;
	width: 100%;
	font-size: 0.9em;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 1.6em;
	-webkit-appearance: none;
	color: #444;
}

.exploring {
	color: #666;
	font-size: 0.8em;
	font-weight: normal;
}

div.clear {
	clear: both;
	overflow: auto;
	margin-bottom: 2em;
}

div.wrapper {
	overflow: auto;
}

div.select {
	margin-bottom: 2em;
	overflow: auto;
	clear: both;
}