table.sortable th {
	font-weight: 200;
	border-bottom: 0.1em solid #aaa;
	text-align: left;
	cursor: pointer;
	overflow: auto;
	padding-right: 1em;
	padding-bottom: 0.5em;
}

table.sortable th img {
	float: right;
}

table.sortable tr.select th {
	border-bottom: none;
}

table.sortable img.empty {
	content:url('../images/empty.png');
}

table.sortable img.up {
	content:url('../images/up.png');
}

table.sortable img.down {
	content:url('../images/down.png');
}	