@(version: String, mode: String)(implicit request: RequestHeader, regions: List[es.weso.wfLodPortal.sparql.custom.RegionCustomQueries.Region], subindexes: List[es.weso.wfLodPortal.sparql.custom.SubindexCustomQuery.Subindex], queries: List[(String, String, String)])

@import views.html.helpers._
@import es.weso.wfLodPortal.models.Options

@main(None, mode) {
	<img class="root-logo" alt="Open Data Barometer" src="@routes.Assets.at("images/ODB.png")" />
	<nav class="breadcrumbs">
		@hostLink(request) &gt; ODB
	</nav>
	<h1 class="main">OPEN DATA BAROMETER</h1>
	
	<p class="main-description">
		The Open Data Barometer takes a multidimensional look at the spread of Open Government Data (OGD) policy and practice across the world. Combining peer-reviewed expert survey data and secondary data sources, the Barometer explores countries readiness to secure benefits from open data, the publication of key datasets, and evidence of emerging impacts from OGD.
	</p>
	<p class="root-section">
		Browse Information
	</p>
	
	@browseBy(Options.host, regions, subindexes)
	
	<p class="root-section">
		Examples
	</p>
	
	@for(query <- queries) {
		<p class="query-description">@query._1</p>
		<div class="sparql">
			@runSparqlQuery(query._3, query._2)
		</div>
	}
}