@(n: models.Node)
@n match {
	case n:Resource => {
		<a href="@n.uri">
			@n.label match {
				case Some(label) => {@label}
				case None => {<span class="small"></span>@n.uri<span class="small"></span>}
			}
		</a>
	}
	case n:Property => {
		<a href="@n.uri">
			@n.label match {
				case Some(label) => {@label}
				case None => {<span class="small"></span>@n.uri<span class="small"></span>}
			}
		</a>
	}
	case n:Literal => {
		@n.value @n.dataType match {
			case Some(dataType) => { <span class="type">&#40;@dataType&#41;</span>}
			case None => {}
		}
	}
}