@(host: String, regions: List[es.weso.wfLodPortal.sparql.custom.RegionCustomQueries.Region], subindexes: List[es.weso.wfLodPortal.sparql.custom.SubindexCustomQuery.Subindex])(implicit request:RequestHeader)

	<div class="byElements">
		<div class="byCountry">
			<h2>by <a href="http://@{host}/ontology/Country" title="Go to Country">Country</a></h2>
			<ul class="bySelector">
				@for(region <- regions.sortWith(_.label < _.label)) {
					<li>
						<a href="@region.uri.relative" title="Go to @region.label">@region.label</a>
						<ul>
							@for(country <- region.children.sortWith(_.label < _.label)) {
								<li>
									<a href="@country.uri.relative" title="Go to @country.label">@country.label</a>
								</li>
							}
						</ul>
					</li>
				}
			</ul>
		</div>
		<div class="byComponent">
			<h2>by Component</h2>
			<ul class="bySelector">
				@for(subindex <- subindexes.sortWith(_.label < _.label)) {
					<li>
						<a href="@subindex.uri.relative" title="Go to @subindex.label">@subindex.label</a>
						<ul>
							@for(component <- subindex.children.sortWith(_.label < _.label)) {
								<li>
									<a href="@component.uri.relative" title="Go to @component.label">@component.label</a>
									<ul>
										@for(indicator <- component.children.sortWith(_.label < _.label)) {
											<li>
												<a href="@indicator.uri.relative" title="Go to @indicator.label">@indicator.label</a>
											</li>
										}
									</ul>
								</li>
							}
						</ul>
					</li>
				}
			</ul>
		</div>
	</div>
	<script>
		var lis = document.querySelectorAll("ul.bySelector > li");
		
		var length = lis.length;
		
		for (var i = 0; i < length; i++) {
			var li = lis[i];
			
			var ul = li.querySelector("ul");
			ul.className = "closed";
			
			var plus = document.createElement("span");
			plus.className = "plus-minus";
			plus.innerHTML = "+";
			plus.ul = ul
			plus.closed = true;
			plus.onclick = function() {
				this.ul.className = this.closed ? "opened" : "closed";
				this.closed = ! this.closed;
				this.innerHTML = this.closed ? "+" : "-";
			};
			
			li.insertBefore(plus, li.firstChild);
		}
	</script>