@(rs: models.ResultQuery)
<table class="propertyBox">
	<thead>
		<th class="property">
			Property
		</th>
		<th class="value">
			Value
		</th>
	</thead>
	<tbody>
	@for(n <- rs.subject.list){
		<tr>
			<td class="property">
				@helpers.anchor(n._1)
			</td>
			<td class="value">
				<ul>
				@for(a <- n._2){
					<li>@helpers.anchor(a._1)</li>
				}
				</ul>
			</td>
		</tr>
	}
	@for(m <- rs.predicate.list){
		<tr>
			<td class="property">Is @helpers.anchor(m._1) of</td>
			<td class="value">
				<table class="children pages">
					<tbody>
						@for(a <- m._2){
							<tr>
								<td>
									@helpers.anchor(a._1)
								</td>
							</tr>
						}
					</tbody>
				</table>
			</td>
		</tr>
	}
	</tbody>
</table>