@(endpoint:String, query:String)(implicit request:RequestHeader)
@import scala.util.Random
@randomString = @{Random.alphanumeric.take(10).mkString}
@defining(randomString) { randomString =>
	<link rel="stylesheet" href="@Options.host_r@routes.Assets.at("stylesheets/codemirror.css")"/>
	<script src="@Options.host_r@routes.Assets.at("javascripts/codemirror/codemirror.js")"></script>
	<script src="@Options.host_r@routes.Assets.at("javascripts/codemirror/matchbrackets.js")"></script>
	<script src="@Options.host_r@routes.Assets.at("javascripts/codemirror/sparql.js")"></script>
    <script src="@Options.host_r@routes.Assets.at("javascripts/snorql/snorql.js")"></script>
        <script>var snorql = new Snorql("@Options.host_r" + "/endpoint");</script>
	<textarea id="query-@randomString">@{query.replace("\\n", "\n").replace("\\t", "\t")}</textarea>
	<button id="test-query-@randomString">Test query</button>
	<script>
		
		// Codemirror (Pretty code)
		
		function load@{randomString} () {
			var editor = CodeMirror.fromTextArea(document.getElementById("query-@randomString"), {
		    	mode: "application/x-sparql-query",
		        tabMode: "indent",
		        lineNumbers: true,
		        matchBrackets: true
		    });
		    
		    // Button
		    var button = document.getElementById("test-query-@randomString");
		
			button.onclick = function() {
			    // The prefixes must be appended before the custom query
				var query = snorql._getPrefixes() + editor.doc.getValue();
				window.location.href = "@Options.host_r" + "@{routes.Application.snorql()}?default-graph-uri=&query=" + encodeURIComponent(query);
			};
	    }
	    
	    if (window.attachEvent)
			window.attachEvent('load', load@{randomString});
		else
			window.addEventListener('load', load@{randomString}, false);
	</script>
}