@(endpoint:String, query:String)(implicit request:RequestHeader)
@import es.weso.wesby.models.Options
@import scala.util.Random
@import views.html.helpers._
@randomString = @{Random.alphanumeric.take(10).mkString}
@defining(randomString) { randomString =>
	<link rel="stylesheet" href="@Options.host_r@routes.Assets.at("stylesheets/codemirror.css")"/>
	<script src="@Options.host_r@routes.Assets.at("javascripts/codemirror/codemirror.js")"></script>
	<script src="@Options.host_r@routes.Assets.at("javascripts/codemirror/matchbrackets.js")"></script>
	<script src="@Options.host_r@routes.Assets.at("javascripts/codemirror/sparql.js")"></script>
	<textarea id="query-@randomString">@{query.replace("\\n", "\n").replace("\\t", "\t")}</textarea>
	<button id="test-query-@randomString">Test query</button>
	<script>
		
		// Codemirror (Pretty code)
		
		function load@{randomString} () {
			var editor = CodeMirror.fromTextArea(document.getElementById("query-@randomString"), {
		    	mode: "application/x-sparql-query",
		        tabMode: "indent",
		        lineNumbers: true,
		        matchBrackets: true
		    });
		    
		    // Button
		    var button = document.getElementById("test-query-@randomString");
		
			button.onclick = function() {
				var query = editor.doc.getValue();
				window.location.href = "@{routes.Application.snorql()}?default-graph-uri=&query=" + encodeURIComponent(query);
			};
	    }
	    
	    if (window.attachEvent)
			window.attachEvent('load', load@{randomString});
		else
			window.addEventListener('load', load@{randomString}, false);
	</script>
}