@(options: Options)(implicit request: RequestHeader)
<div class="sparql">
	<h4>Data Source</h4>
	@runSparqlQuery(options.endpoint, options.query)
</div>
<div class="format-links">
	<h3>Download as</h3>
	<a href="@{request.path}?format=n3" title="Download as N3"><span>N3</span></a>
	<a href="@{request.path}?format=turtle" title="Download as Turtle"><span>Turtle</span></a>
	<a href="@{request.path}?format=rdfxml" title="Download as RDF/XML"><span>RDF/XML</span></a>
	<a href="@{request.path}?format=rdfjson" title="Download as RDF/JSON"><span>RDF/JSON</span></a>
	<a href="@{request.path}?format=n-triples" title="Download as N-Triples"><span>N-Triples</span></a>
</div>