@(rs: es.weso.wfLodPortal.models.ResultQuery)

@import es.weso.wfLodPortal.models._
@import es.weso.wfLodPortal.utils.CommonURIS._
@import views.html.helpers._
@import views.html.helpers.utils._

@main("") {
	<nav class="breadcrumbs">
		Data &gt; Country
	</nav>
	<h1>@label</h1>
	<h2><a href="@rdfType(rs)">"@rdfTypeLabel(rs)</a></h2>	
	<div id="world-map" class="country-concept-map"></div>
	@helpers.grill(rs)
	
	<script src="@routes.Assets.at("javascripts/jvectormap.js")"></script>
	<script src="@routes.Assets.at("javascripts/map.js")"></script>	
	<script>
		var countryCodes = {};
		var countries = {};
		
		@for(country <- rs.predicate.get(rdf,"type").get.nodes) {	
			countryCodes["@country.dss.subject.get.data.get(wfOnto,"has-iso-alpha2-code").get.nodes.head.node.asInstanceOf[RdfLiteral].value"]  =		
			"@country.node.asInstanceOf[RdfResource].uri.relative";
			
			countries["@country.dss.subject.get.data.get(wfOnto,"has-iso-alpha2-code").get.nodes.head.node.asInstanceOf[RdfLiteral].value"]  = 1;
		}
		
		$('#world-map').vectorMap({
			map: 'world_merc_en',
			backgroundColor: "#fff",
			series: {
		    	regions: [{
			    	values: countries,
			    	scale: ['#C8EEFF', '#0071A4'],
			    	normalizeFunction: 'polynomial'
			    }]
			},
			zoomOnScroll: false,
			
			onRegionLabelShow: function(e, el, code) {
				console.log(code)
		    },
		    
		    onRegionClick: function(e, code) {
		    	var uri = countryCodes[code];
		    	console.log(uri)
		    	if (uri)
				    window.location.href = uri;
		    }
		});
	</script>
}