@(rs: es.weso.wfLodPortal.models.ResultQuery, options: Map[String, String])

@import es.weso.wfLodPortal.utils.CommonURIS._
@import es.weso.wfLodPortal.models._

@import views.html.helpers._
@import views.html.helpers.utils._

@countries = @{ 
	var countries = scala.collection.mutable.Map[String,Tuple2[String, String]]()
	
	for(country <- rs.predicate.get(rdf, "type").get.nodes) {
		val data = country.dss.subject.get.data
		val label = country.node.asInstanceOf[RdfResource].label getOrElse "Empty"
		val uri = country.node.asInstanceOf[RdfResource].uri.relative
		val iso2 = data.get(wfOnto,"has-iso-alpha2-code").get.nodes.head.node.asInstanceOf[RdfLiteral].value
		
		val chunks = label.split("@")
		val cleanLabel = if (chunks.length > 1 && chunks(chunks.length-1) == "en") chunks(0); else label
		
		countries(cleanLabel.toString) = (iso2, uri)
	}
	
	countries.toList.sorted
}

@main("") {
	<nav class="breadcrumbs">
		Data &gt; Country
	</nav>
	<h1>@label(rs)</h1>
	<h2><a href="@rdfType(rs)">@rdfTypeLabel(rs)</a></h2>	
	
	<div id="countryName" class="country-name"></div>
	<div id="world-map" class="country-concept-map"></div>
	<nav class="country-list">
		@for(country <- countries) {
			<a class="country" href="@country._2._2" code="@country._2._1">@country._1</a>
		}
	</nav>
	
	@subjectGrill(rs)
	@sparqlQuery(options)

	<script src="@routes.Assets.at("javascripts/jvectormap.js")"></script>
	<script src="@routes.Assets.at("javascripts/map.js")"></script>	
	<script>
		var countryCodes = {};
		var countries = {};
		
		@for(country <- countries) {	
			countryCodes["@country._2._1"] = {
												uri: "@country._2._2",
												name: "@country._1"
											 };
			
			countries["@country._2._1"]  = 1;
		}
		
		$('#world-map').vectorMap({
			map: 'world_merc_en',
			backgroundColor: "#fff",
			series: {
		    	regions: [{
			    	values: countries,
			    	scale: ['#C8EEFF', '#0071A4'],
			    	normalizeFunction: 'polynomial'
			    }]
			},
			zoomOnScroll: false,
		    
		    onRegionLabelShow: function(e, el, code) {
		    	$("#countryName").html(countryCodes[code].name);
			},
			
			onRegionOut: function(e, code) {
				$("#countryName").html("");
			},
		    
		    onRegionClick: function(e, code) {
		    	var uri = countryCodes[code].uri;

		    	if (uri)
				    window.location.href = uri;
		    }
		});
	</script>
}