@(rs: es.weso.wfLodPortal.models.ResultQuery, options: Map[String, String])

@import es.weso.wfLodPortal.utils.CommonURIS._
@import es.weso.wfLodPortal.models._
@import views.helpers.Utils._
@import views.helpers.Handlers._
@import views.helpers.wf.Utils._
@import views.html.helpers._
@import views.html.helpers.utils._
@defining(loadIndicators(rs)) { indicators =>
	@defining(loadObservations(rs)) { observations =>
		@main(Some(("COMPARE THIS",compareUri(options, iso3(rs)))), options("mode")){
			<script src="@routes.Assets.at("javascripts/jvectormap.js")"></script>
			<script src="@routes.Assets.at("javascripts/map.js")"></script>
			<script src="@routes.Assets.at("javascripts/jGraf.min.js")"></script>
			@defining(cachedLabel(rs)){ label =>
			
			<nav class="breadcrumbs">
				@data(options) &gt; <a href="/ontology/Country">Country</a> &gt; @label
			</nav>	
			<div class="country-map" id="country-map" 
				title="Map for @label obtained from jVectorMap.com and this from naturalearthdata.com">
			</div>  
			<img alt="Country flag for @label obtained from flagpedia.net" class="flag" src="@image" />
			
			<h1>@label</h1>
			<h2><a href="@rdfType(rs)">Country</a></h2>
			
			<span class="help">Select an indicator to view the progression of its observations</span>
			<div class="dropdown">
				<select id="observation-selector">
					@for(obs <- observations) {
						<option value="@obs._1">@obs._1</option>
					}
				</select>
			</div>
			<div id="graphs"></div>
			
			@grill(rs)
			@sparqlQuery(options)
			
			<script>
			    $(function(){
			    	// Map
			    	var code = "@iso2(rs)";
			    	
			    	var container = "#country-map";
			
			    	var map = new jvm.WorldMap({
			    			container: $(container), 
			    			map: "world_merc_en",
			    			backgroundColor: "#DCEBF0",
			    			regionStyle: {
			    				initial: {
				    				fill: "#ccc"	
			    				},
						    	selected: {
						            fill: "#555"
						        }
						    },
						    regionsSelectable: false,
						    onRegionOver: function (e, label, code) { e.preventDefault(); return false; },
						    onRegionLabelShow: function (e, code) { e.preventDefault(); return false; }
			    		});
			   
			    	map.setFocus(code, null, null);
			    	
			    	var selectedRegions = new Array(code);
			    	map.setSelectedRegions(selectedRegions);
			    	
			    	// Observation graphs
			    	
			    	var observations = [];
			    	var observationList = [];
			    	var indicators = [];
			    	
			    	@for(indicator <- indicators) {
			    		indicators["@indicator._1"] = "@indicator._2";
			    	}	
			    	
			    	@for(obs <- observations) {	    		
			    		observationList.push("@obs._1");
			    		
			    		var values = [];
			    		
			    		var serie = {
				    		name: "@obs._1",	
				    		values: [],
				    		urls: []
			    		};
			    		
			    		@for(year <- obs._2.toSeq.sortBy(_._1)) {
			    			if ("@year._2._2" != "") {
				    			serie.values.push(parseFloat(@year._2._2));
				    			serie.urls.push("@year._2._1");
				    			values.push("@year._1");
				    		}
			    		}
			    		
			    		observations["@obs._1"] = {
			    			serie: serie,
			    			values: values
			    		};
					}
					
					var length = observationList.length;
					var graphs = document.getElementById("graphs");
					var width = graphs.offsetWidth;
					
					for (var i = 0; i < length; i++) {
						var indicator = observationList[i];
						var observation = observations[indicator];
				
						var graphOptions = {
							width: width,
							height: 400,
							margins: [10, 0, 10, 0],
							backgroundColour: "none",
							serieColours: ["#CC2222", "#FA5882", "#2BBBD8", "#102E37"],
							groupMargin: 4,
							barMargin: 8,
							valueOnItem: {
								show: !0,
								margin: 5,
								"font-family": "Helvetica",
								"font-colour": "#aaa",
								"font-size": "16px"
							},
							xAxis: {
								title: "Years",
								colour: "none",
								margin: 10,
								tickColour: "none",
								values: observation.values,
								"font-family": "Helvetica",
								"font-colour": "#666",
								"font-size": "16px"
							},
							yAxis: {
								title: "",
								colour: "none",
								margin: 0,
								tickColour: "#ddd",
								"font-family": "Helvetica",
								"font-colour": "#aaa",
								"font-size": "16px",
								"from-zero": false
							},
							series: [ observation.serie ],
							legend: {
								show: false,
							}
						};
						
						var div = document.createElement("div");
						var shown = i == 0 ? "shown " : "hidden ";
						div.className = shown + indicator;
						
						var h4 = document.createElement("h4");
						h4.className = "indicator-description";
						div.appendChild(h4);
						
						h4.innerHTML = indicators[indicator];
						
						graphs.appendChild(div);
						
						var graph = jGraf.lineChart(graphOptions);
						div.appendChild(graph.render());
						
						// Select event
						document.getElementById("observation-selector").onchange = function() {
							$("div#graphs div.shown").removeClass("shown").addClass("hidden");
							
							var indicator = this.options[this.selectedIndex].value;
							$("div#graphs div." + indicator).removeClass("hidden").addClass("shown");
						};
					}
			    });
			    
			</script>
			}
		}
	}
}
@image = @{ 
        val img = toLower(iso2(rs)) + ".png" 
                        
        routes.Assets.at("images/flags/" + img)
}