@import play.i18n._

@main(title="Descripción: COTEAM") {
    <div class="callout large">
        <h1>Descripción</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut ultricies quam. In ut vulputate turpis. Fusce accumsan gravida est, ut feugiat neque gravida at. Nam orci ante, varius ac neque at, mollis feugiat ligula. Duis imperdiet elit eros, nec vulputate metus ornare in. Pellentesque odio sem, feugiat consequat facilisis at, pretium et enim. Nullam leo mauris, ullamcorper ac leo ut, condimentum tristique neque. Nulla rutrum, massa nec ullamcorper dictum, sapien diam dapibus magna, quis ornare elit nisl id dolor.

            Phasellus ipsum orci, aliquet ac aliquet vitae, hendrerit at massa. Fusce condimentum, libero ut fermentum gravida, felis ligula pellentesque sem, vitae vestibulum lacus diam in lorem. Nulla mauris ante, tincidunt nec erat elementum, auctor suscipit mi. Vestibulum nec dignissim risus. In hac habitasse platea dictumst. Donec ac suscipit elit. Maecenas id tristique tellus. Aliquam egestas pharetra augue in imperdiet.

            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla ut mi nec ipsum fermentum tempor a non lacus. Suspendisse a congue elit. In eget lorem orci. Duis maximus sem at scelerisque tempor. Duis ex risus, dignissim aliquet magna eu, vehicula semper magna. In mattis rutrum turpis nec sagittis. Curabitur venenatis iaculis feugiat. Nulla eu efficitur ipsum. Proin egestas accumsan eros, nec condimentum arcu mollis a. Aenean ultrices, sem ullamcorper venenatis consequat, ipsum risus cursus diam, et sodales est magna non purus. Phasellus interdum nibh sem, vitae interdum urna aliquam sit amet. Nunc commodo elit id urna eleifend imperdiet.

            Vestibulum non lacinia ante, vel gravida sapien. Ut metus nulla, dapibus vitae sem non, efficitur accumsan diam. Praesent lobortis dui id ante malesuada consectetur. Nam auctor nibh dolor, sed volutpat ante malesuada et. Sed non mi et dolor facilisis sodales. Ut nec risus eu diam iaculis fringilla sed sollicitudin erat. Maecenas fermentum dolor eget erat facilisis sollicitudin. Nunc et ex rutrum, laoreet lorem quis, condimentum lacus. Maecenas in tellus eget ipsum iaculis molestie.

            Cras ut lobortis dui. Duis auctor felis id dignissim tempus. Morbi cursus eu sem in accumsan. Vestibulum porta lectus et diam aliquet, id fermentum nulla tempus. Vestibulum sed libero lorem. Aliquam nec mauris id tortor congue euismod vitae a diam. Aenean vel justo eu erat rutrum efficitur. Donec tincidunt bibendum neque, in lobortis tellus. Vestibulum libero turpis, pellentesque eget ultrices eget, fringilla a sapien. Etiam semper dignissim nisi a eleifend. Proin ut metus vitae quam sodales pretium. Aliquam iaculis, tortor non pellentesque ullamcorper, mi justo sollicitudin est, non lobortis felis quam in eros.
        </p>
    </div>
}
