@(compare: Option[Tuple2[String, String]])(content: Html)(implicit request: RequestHeader)
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" >
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" >
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>@Options.title</title>
		<link rel="stylesheet" href="@Options.host_r@routes.Assets.at("stylesheets/style.css")"/>
		<link rel="stylesheet" href="@Options.host_r@routes.Assets.at("stylesheets/pages.css")"/>
		<link rel="stylesheet" href="@Options.host_r@routes.Assets.at("stylesheets/sortable.css")"/>
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="@Options.host_r@routes.Assets.at("images/favicon.png")"/>
    </head>
	<body>
		<div class="content">
			<header>
				<div class="leftHeader">
					<a href="@Options.host">
						<img alt="World Wide Web Foundation" src="@Options.host_r@routes.Assets.at("images/wesby-logo.png")" class="W3F-logo" />
					</a>
				</div>
				<div class="border"></div>
			</header>
			<div class="body">
                <h2>Mustache.js test</h2>
                <ul>
                    <li><a href="javascript:test1()">Country test</a></li>
                    <li><a href="javascript:githubSample()">Github test</a></li>
                </ul>
                <div id="sampleArea"></div>
				@content
			</div>
			<footer>
				<div class="footer">&copy; @Options.license Powered by <a href="https://github.com/weso/Wesby" title="Go to Wesby Repo">Wesby</a></div>
			</footer>
		</div>
		<script src="@Options.host_r@routes.Assets.at("javascripts/richTable.js")"></script>
		<script src="@Options.host_r@routes.Assets.at("javascripts/mustache.js")"></script>

        </script>
		<script type="text/javascript">
		    function test1() {
                var country = {
                    "country": "Spain",
                    "observations": [
                        {"value": 12 },
                        {"value": 43 }
                    ]
                };



                $.get('@Options.host_r@routes.Assets.at("mustache/test.mustache")', function(template) {
                    var output = Mustache.render(template, country);
                    $('#sampleArea').html(output);
                });

            }

            function githubSample() {
                var view = {
                  title: "Joe",
                  calc: function () {
                    return 2 + 4;
                  }
                };

                var output = Mustache.render("{{title}} spends {{calc}}", view);
                $('#sampleArea').html(output);
            }
		</script>


	</body>
</html>