@(title: String)(content: Html)
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" >
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" >
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=900"/>
		<title>DATA PORTAL</title>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")"/>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/pages.css")"/>
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"/>
    </head>
	<body>
		<div class="content">
			<header>
				<div class="leftHeader">
					<img alt="World Wide Web Foundation" src="@routes.Assets.at("images/W3F-logo.png")" class="W3F-logo" />
				</div>
				<div class="rightHeader">
					<p class="title1"><span>DATA PORTAL</span></p>
					<p class="title2"><span></span></p>
				</div>
				<div class="border"></div>
			</header>
			<div class="body">
				@content
			</div>
			<footer>
				&copy; 2013 World Wide Web Foundation.
			</footer>
		</div>
	</body>
	<script src="@routes.Assets.at("javascripts/richTable.js")"></script>
</html>
