@(rs: es.weso.wfLodPortal.models.ResultQuery, options: scala.collection.mutable.Map[String, Object])

@import es.weso.wfLodPortal.utils.CommonURIS._
@import es.weso.wfLodPortal.models._
@import views.helpers.Utils._
@import views.helpers.Handlers._
@import views.html.helpers._
@import views.html.helpers.utils._

@image = @{ 
	val code = handleResourceAsString(rs.subject.get, 
		wfOnto, "ref-area", 
		{r:RdfResource => iso2(r.dataStores)})
	
	val img = code.toLowerCase + ".png" 
			
	routes.Assets.at("images/flags/" + img)
}

@countryName = @{
	handleResourceAsString(rs.subject.get, 
		wfOnto, "ref-area", 
		(r:RdfResource)=> label(r.dataStores))
}

@countryURI = @{
	handleResourceAsString(rs.subject.get, 
		wfOnto, "ref-area", 
		(r:RdfResource)=>r.uri.relative.toString)
}

@indicatorURI = @{
	handleResourceAsString(rs.subject.get, 
		cex, "indicator", 
		(r:RdfResource)=>r.uri.relative.toString)
}

@indicatorName = @{
	handleResourceAsString(rs.subject.get, 
		cex, "indicator", 
		(r:RdfResource)=>r.uri.short.get.suffix._2)
}

@indicatorDescription = @{
	handleResourceAsString(rs.subject.get, 
		cex, "indicator", 
		(r:RdfResource)=> label(r.dataStores))
}

@value = @{
	handleLiteralAs[BigDecimal](rs.subject.get,		
		cex, "value", 
		(l:RdfLiteral)=>BigDecimal(l.value).setScale(2, BigDecimal.RoundingMode.HALF_UP))
}

@year = @{
	handleLiteralAsValue(rs.subject.get, wfOnto, "ref-year")
}

@main(None, options("mode").toString) {
	<nav class="breadcrumbs">
		@data(options) &gt; <a href="/ontology/Country">Country</a> &gt; 
		<a href="@countryURI">@showLabel(countryURI, countryName)</a> &gt; @label(rs)
	</nav>
	
	<a href="@countryURI"><img alt="Country flag for @countryName obtained from flagpedia.net" class="flag" src="@image" /></a>
	<div class="year"><span>@year</span></div>
	<a href="@indicatorURI" class="indicator"><span>@indicatorName</span></a>
	<div class="value"><p class="value">@value</p><p class="desc">VALUE</p></div>

	<h1>@label(rs)</h1>
	<h2><a href="@rdfType(rs)">Observation</a></h2>	
	<h3 class="description">@showLabel("", indicatorDescription)</h3>
	@grill(rs)
	@sparqlQuery(options)
}