@import org.w3.banana.RDF
@import org.w3.banana.URIOps

@(resource: Resource[_<:RDF])

<h1>Wesby 2.0</h1>
<h2>THIS IS A TEMPORARY SOLUTION</h2>

<h1>@resource.label</h1>
<h2>Shapes:<pre>@resource.shapes</pre></h2>
<h2>Properties:</h2>
<table>
    <tr>
        <th>Property:</th>
        <th>Value:</th>
    </tr>
    @for(p <- resource.properties) {
        <tr>
            <td>
                <a href="@p._1.getNamespace">@p._1.getPrefix</a>:<a href="@p._1.uri">@p._1.getLocalname</a>
            </td>
            <td>
                @p._2
            </td>
        </tr>
    }
    @for(p <- resource.inverseProperties) {
        <tr>
            <td>
                Is <a href="@p._2.getNamespace">@p._2.getPrefix</a>:<a href="@p._2.uri">@p._2.getLocalname</a> of
            </td>
            <td>
                @p._1
            </td>
        </tr>
    }
</table>


