@import org.w3.banana.RDF
@import org.w3.banana.URIOps
@import org.w3.banana.RDFOps
@import org.w3.banana.jena.Jena
@import play.i18n._
@import views.helper.Curie

@(resource: Resource[Jena])(lang: String)

@displayUri(uri: String) = {
    @if(Curie(uri).prefix.equals("unknown")) {
        <a href="@uri">@uri</a>
    } else {
        <a href="@Curie(uri).namespace">@Curie(uri).prefix</a>:<a href="@uri">@Curie(uri).reference</a>
    }
}

@main(title = resource.label.map(l => l.getLiteralLexicalForm).getOrElse("Unknown")) {
    <div class="callout large">
        <div class="column row">
            <h1>@resource.label.map(l => l.getLiteralLexicalForm).getOrElse("Unknown")</h1>
            @if(resource.labels.size > 1) {<p class="lead"> Synonyms: }
            @for(l <- resource.labels.drop(1)) {@l.getLiteralValue}
            @if(resource.labels.size > 1) {</p>}
            <p class="lead">@resource.shapes</p>
        </div>
    </div>

    <div class="column row">

        <div class="small-2 columns">
            <label for="middle-label" class="text-right middle">Filter:</label>
        </div>
        <div class="small-8 columns">
            <div class="input-group">
                <input id="middle-label" class="input-group-field" type="text" placeholder="Examples: Bob, foaf:name, label">
                <a class="input-group-button button">Submit</a>
            </div>
        </div>

        <table class="hover">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>


                @for(p@(wuri, nodes) <- resource.properties) {

                    <tr>
                        <td rowspan="@nodes.size">
                            @displayUri(wuri.getURI)
                        </td>
                        <td>
                            @if(nodes.head.isLiteral) { @nodes.head.getLiteralLexicalForm } else {
                                @if(nodes.head.isURI) {
                                    @displayUri(nodes.head.getURI)
                                } else { @nodes.head }
                            }
                        </td>
                    @for(n <- nodes.drop(1)) {
                        <tr>
                            <td>
                                @if(n.isLiteral) { @n.getLiteralLexicalForm } else {
                                    @if(n.isURI) { <a href="@n.getURI">@n.toString</a> } else { @n }
                                }
                            </td>
                        </tr>
                    </tr>
                    }
                }
                @for(p <- resource.inverseProperties) {
                    <tr>
                        <td>
                            Is @displayUri(p._2.getURI) of
                        </td>
                        <td>
                            @displayUri(p._1.getURI)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}



