
@import play.i18n._
@import com.hp.hpl.jena.graph.Node_Literal

@(results: Iterator[(Node_Literal, String)])

@main(title=Messages.get("search.title")) {

    @*<div class="callout large">*@
        @*<div class="column row">*@
            @*<h1>@Messages.get("search.title")</h1>*@
            @*<form role="search" action="/search">*@
                @*<div class="input-group">*@
                    @*<span class="input-group-label"><i class="fi-magnifying-glass"></i></span>*@
                    @*<input type="search" class="input-group-field keyboard" placeholder="Buscar palabra" name="q">*@
                    @*<a class="input-group-button button" onclick="$('form').submit();">Buscar</a>*@
                @*</div>*@
            @*</form>*@
        @*</div>*@
    @*</div>*@
    @if(results.isEmpty) {
        <div class="callout large">
            <p class="lead">No hay resultados para esta búsqueda.</p>
        </div>
    } else {
        <div class="callout large">
            <h1>Resultados de búsqueda</h1>
            <div class="column row">
                <ul>
                @for(r <- results) {
                    <li><a href="@r._2">@r._1.getLiteralValue</a></li>
                }
                </ul>
            </div>
        </div>
    }

}




