@(param: Any)(implicit request: RequestHeader)

@main(None) {
    <h1>Welcome to Wesby LOD Browser</h1>
    <p>Your Wesby server has been succesfully installed.</p>
    <p>By default, Wesby is set to browse a test dataset found at <a href="@Options.endpoint">@Options.endpoint</a>.
    This dataset comes with some example resources for you to try:</p>

    <ul>
        <li>A place: <a href="http://localhost:9000/resource/Asturias">Asturias</a></li>
        <li>A university: <a href="http://localhost:9000/resource/University_of_Oviedo">University of Oviedo</a></li>
        <li>A person: <a href="http://localhost:9000/resource/Tim_Berners-Lee">Tim Berners-Lee</a></li>
        <li>A book: <a href="http://localhost:9000/resource/The_Lord_of_the_Rings">The Lord of the Rings</a></li>
        <li>A film: <a href="http://localhost:9000/resource/2001:_A_Space_Odyssey">2001: A Space Odyssey</a></li>
        <li>A song: <a href="http://localhost:9000/resource/The_Thrill_Is_Gone">The Thrill is Gone</a></li>
        <li>An album: <a href="http://localhost:9000/resource/London_Calling">London Calling</a></li>
        <li>A molecule: <a href="http://localhost:9000/resource/Caffeine">Caffeine</a></li>
        <li>The source of this data: <a href="http://localhost:9000/resource/DBpedia">DBpedia</a></li>
    </ul>

    <p>You can learn in the <a href="https://github.com/weso/Wesby/wiki/Configuration">documentation</a> how to
    configure Wesby to deploy your own data.</p>

}

