@import play.i18n._

@main(title=Messages.get("welcome.test")) {
    <div class="callout large">
        <div class="row column text-center">
            <h1>Welcome to Wesby 2.0</h1>
            <p class="lead">
                <strong>It's alive!
                </strong>Wesby has been succesfully installed, you may now configure your data portal following the instructions below.</p>
        </div>
    </div>

    <div class="column row">
        <div class="callout alert">
            <h3>Wesby is under development</h3>
            <p>The configuration wizard is not ready yet, but you can still manually setup Wesby.
                You can learn how to do it reading the <a href="#manual-config">manual configuration section.</a></p>
        </div>
    </div>

    <div class="column row">
        <h2>Demo portal</h2>
        <p>Wesby comes preconfigured with a few SPARQL endpoints so you can see how it works before deploying your own data portal.</p>
        <p>You can choose between several demo portals in the menu below.</p>
        <form action="">
            <div class="row column">
                <label>Select an example endpoint
                    <select class="" name="">
                        <option value="dbpedia">DBpedia: http://dbpedia.org/sparql</option>
                    </select>
                </label>
            </div>
        </form>

        <ul class="accordion" data-accordion role="tablist">
            <li class="accordion-item is-active">
                    <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
                <a href="#panel-dbpedia" role="tab" class="accordion-title" id="panel-dbpedia-heading" aria-controls="panel-dbpedia">DBpedia</a>
                    <!-- The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby. -->
                <div id="panel-dbpedia" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel-dbpedia-heading">
                    Wesby will point to the following SPARQL endpoint:
                    <pre>http://dbpedia.org/sparql</pre>
                    Example resources:
                    <ul>
                        <li><a href="#">Example resource</a></li>
                        <li><a href="#">Example resource</a></li>
                        <li><a href="#">Example resource</a></li>
                    </ul>
                </div>
            </li>


        </ul>

        You can also use the search bar to discover resources:
        <form action="">
            <div class="input-group">
                <input id="middle-label" class="input-group-field" type="text" placeholder="Example resource">
                <a class="input-group-button button">Search</a>
            </div>
        </form>

        <h2>Configuration assistant</h2>
        <p>Fill the following form and press the green button to generate your data portal.</p>
        <form action="" data-abide novalidate>
            <div class="row column">
                <label>Name of the data portal
                    <input type="text" placeholder="Awesome Data Portal" required>
                    <span class="form-error">
                        This field it's required.
                    </span>
                </label>
                <label>URL of your SPARQL endpoint
                    <input type="text" placeholder="http://example.org/sparql" required pattern="url">
                    <span class="form-error">
                        This field must contain a valid URL.
                    </span>
                </label>
                <label>Host URL
                    <input type="text" placeholder="http://example.org/" required pattern="url">
                    <span class="form-error">
                        This field must contain a valid URL.
                    </span>
                </label>
                <div data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i> There are some errors in your form.</p>
                </div>
                <fieldset>
                    <p><a class="success large button" data-open="generationModal">Generate the data portal</a></p>
                </fieldset>
            </div>
        </form>

        <h2 id="manual-config">Manual configuration</h2>
        <p>To manually configure your data portal you may modify the default configuration settings found in <code>application.conf</code>.
        You can find this file in the <code>conf</code> folder, inside the Wesby installation folder.</p>
        <p>This file should should include some documentation comments to ease the process.</p>

        <h3>Customising your data portal</h3>
        <p>Wesby is fully customizable, allowing you to adapt your data portal by means of standard HTML and CSS templates.</p>
        <p>If you just want to adapt the CSS styles to your site, you can override the default styles by adding your
            custom styles to the <code>main.css</code> file, inside the <code>public/</code> folder.</p>
        <p>By default, Wesby uses the <a href="http://foundation.zurb.com/">Foundation Framework</a> to simplify the
        portal building process and provide a responsive interface. You can choose not to use this framework by modifying
        the stylesheets in the <code>main.scala.html</code> template.</p>
        <p>In the following sections you can find more information and help about the customization process,
        Wesby's anatomy, and how to customize the HTML templates.</p>
        <h4>Templates</h4>
        <p>Wesby is built on top of <a href="https://www.playframework.com/">Play Framework</a>, which
        uses the <a href="https://www.playframework.com/documentation/2.4.x/ScalaTemplates">Twirl</a> template engine to
        provide a customisable user interface. This template engine binds the resources data to the HTML templates using the
        special character <code>@@</code>. In the templates you will find some code preceded with that character, where
         the data will be inserted by the server. </p>
        <p>In the folder <code>Wesby/app/views/</code>, you can find the following HTML templates that you can modify,
            inside each template you may find some comments to help you with the customization process:</p>
        <ul>
            <li>
                <strong>main.scala.html</strong>
                <p>This is the root template. It defines the header, the styles and
                the scripts applied to every page in the data portal. The content of the other templates is inserted by
                the server into the <code>@@content</code> tag. This template is where you can replace the Foundation
                Framework if you like.</p>
            </li>
            <li>
                <strong>resource.scala.html</strong>
                <p>It is applied to the resources of the data portal. By default
                it shows a table listing the properties and its values of the retrieved RDF resource.</p>
            </li>
            <li>
                <strong>search.scala.html</strong>
                <p>Template for the search results page.</p>
            </li>
            <li>
                <strong>welcome.scala.html</strong>
                <p>This is the template for this page that you are reading. By
                default, it is configured as the Index page in the <code>application.conf</code> file, but you can replace it
                with your own index page once you've finished the configuration process.</p>
            </li>
            <li>
                <strong>index.scala.html</strong>
                <p>You can use this template to place the content of the index page
                    for your data portal. Once you've finished the configuration you can replace the value of the <code>wesby.index</code>
                    property in <code>application.conf</code> by <code>"/index"</code>, so the data portal will display it
                    as the index page instead of this welcome page.</p>
            </li>
        </ul>
    </div>


    <div class="reveal" id="generationModal" data-reveal>
        <h1>It's almost ready!</h1>
        <p class="lead">Please review the configuration before proceeding</p>
        <p><strong>Name of the portal: </strong>Awesome Data Portal</p>
        <p><strong>SPARQL endpoint URL: </strong>http://example.org/sparql</p>
        <p><strong>Host URL: </strong>http://example.org/</p>

        <ul class="accordion" data-accordion role="tablist">
            <li class="accordion-item">
                <a href="#panel-gen" role="tab" class="accordion-title" id="panel-gen-heading" aria-controls="panel-gen">Technical details</a>
                <div id="panel-gen" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                    The following changes will be performed in the configuration files:
                </div>
            </li>
        </ul>

        <button type="button" class="alert button">Cancel</button>
        <button type="button" class="success button">Proceed</button>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


}